<header>
  <div class="container">
    <h1>Dusty Blog</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <% if (!user) { %>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <% } %>
        <% if (user) { %>
        <li><a href="/my/posts?page=1">My Post</a></li>
        <li><a href="/my/profile">My Profile</a></li>
        <li><a href="/users/logout">Logout</a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>
