<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container main">
      <section class="post">
        <h2>Welcome to NoteLoft</h2>
        <p>This is a simple backend practice and experimentation app. I built this to better understand my skills and put them to the test in different situations. Idk how far I'll take this little blogger app but it desperately needs a frontend facelift since my primary focus was the backend. (which also needs more work too!) Thanks for visiting!</p>
      </section>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
