<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>Create New Post</title>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container main">
      <h1>Create a New Post</h1>
      <% if (!user) { %>
        <p>You need to be logged in to create a new post.</p>
        <a href="/login" class="btn">Login</a>
      <% } else { %>
        <form method="post" action="/posts">
          <div class="form-group">
            <label for="title">Title:</label>
            <br>
            <input type="text" id="title" name="title" required>
          </div>
          <div class="form-group">
            <label for="content">Content:</label>
            <br>
            <textarea id="content" name="content" rows="10" required></textarea>
          </div>
          <button type="submit" class="btn">Create Post</button>
        </form>
      <% } %>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
