<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>Register</title>
  </head>
  <body>
    <%- include('../partials/header') %>
    <h1>Register</h1>
    <form id="registerForm">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <br>
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <br>
      <button class="btn" type="submit">Sign Up</button>
    </form>
    <div id="error-message" style="color: red;"></div>
    <%- include('../partials/footer') %>
    <script>
      function onRegister (event) {
        event.preventDefault()
        const username = document.getElementById('username').value
        const password = document.getElementById('password').value
        fetch('/users/register', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            username,
            password
          })
        }).then(response => {
          if (response.ok) {
            window.location.href = '/login'
          }

          return response.json()
        }).then(json => {
          document.getElementById('error-message').innerText = json.error
        })
      }
      document.getElementById('registerForm').addEventListener('submit', onRegister)
    </script>
  </body>
</html>
